<div class="header-links">
	<button class="header-link" routerLink="">Home</button>
	<button class="header-link" routerLink="/comics">Comics</button>
	<button class="header-link" routerLink="/timeline">Timeline</button>
</div>

<div class="mobile-header-links">
	<div *ngIf="!open">
		<button (click)="toggleMenu($event)">
			<fa-icon class="fa-3x" [icon]="faBars"></fa-icon>
		</button>
	</div>
</div>

<router-outlet></router-outlet>

<div class="sidebar" *ngIf="open">
	<div class="sidebar-item">
		<button class="mobile-header-link" routerLink="">Home</button>
	</div>
	<div class="sidebar-item">
		<button class="mobile-header-link" routerLink="/comics">Comics</button>
	</div>
	<div class="sidebar-item">
		<button class="mobile-header-link" routerLink="/timeline">Timeline</button>
	</div>
</div>