.container {
	width: 100%;
	position: relative;
	margin: 0;
	border-radius: 4px;
	background-color: #fafafa;
	border: 1px solid #cc99cc;
}

.thumbnail-container {
	z-index: 10;
	width: 300px;
	position: absolute;
	height: 220px;
	perspective: 750px;
}

.img-1, .img-2, .img-back {
	transform: rotateY(30deg);
	position: absolute;
	border: 1px solid #663333;
}

.img-1, .img-2 {
	max-width: 160px;
	min-width: 140px;
}

.img-1 {
	right: 2px;
	z-index: 4;
	height: 220px;
	top: -20px;
}

.img-2 {
	left: 85px;
	z-index: 3;
	height: 205px;
	top: -15px;
}

.img-back {
	z-index: 2;
	width: 130px;
	left: 35px;
	top: -8px;
	height: 188px;
	background-color: #272733;
}

.comic-name, .author-name, .details {
	padding-left: 300px;
	overflow: hidden;
	margin: 0;
	font: bold 18px Arial,Helvetica,sans-serif;
}

.comic-name {
	background-color: #cc99cc;
	font-size: 22px;
	height: 80px;
	white-space: nowrap;
	color: white;
	text-decoration: none;
	text-shadow: -1px -1px 0 #663366, 1px -1px 0 #663366, -1px 1px 0 #663366, 1px 1px 0 #663366, 0 -2px 0 #663366, 0 2px 0 #663366, -2px 0 0 #663366, 2px 0 0 #663366;
}

.author-name {
	color: #663366;
	background-color: #ffccff;
	height: 70px;
}

img {
	height: 100%;
}

a {
	text-decoration: none;
}

@media screen and (max-width: 600px) {
	.comic-name, .author-name, .details {
		padding-left: 15px;
	}
	.thumbnail-container {
		top: 175px;
	}
	.details {
		margin-top: 250px;
	}
}

@media screen and (max-width: 350px) {
	.thumbnail-container {
		display: none;
	}
	.details {
		margin-top: 0px;
	}
}