h4, p {
	margin: 0px 3px;
}

p {
	margin-bottom: 3px;
}

.footer {
	position: relative;
	bottom: 0px;
}

.left {
	float: left;
}

.right {
	float: right;
}

.attribute-form {
	border: 1px solid black;
}